.docs-stuffs {

  .docs-nav {
    margin-top: 30px;
    border-bottom: 3px solid #DFE0E5;
    padding-bottom: 10px;

    .nav-pills {
      .active > a {
        background-color: #24A9D1;
      }

      a:hover {
        background-color: #DFE0E5;
      }
    }
  }

  h1, h2, h3 {
    font-weight: 400;
  }

  h1 {
    font-family: 'Gotham SSm A', 'Gotham SSm B', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 30px;
    margin-top: 60px;
    border-top: 2px solid #DFE0E5;
    padding-top: 35px;
    color: #24A9D1;

    &:first-child {
      border: none;
      padding-top: 0;
    }
  }

  h2 {
    font-size: 22px;
    margin: 45px 0 15px;
  }

  h1 + h2 {
    margin-top: 0;
  }

  h3 {
    font-size: 18px;
    margin: 35px 0 15px;
  }

  // denotes API endpoint
  h5 {
    padding: 5px;
    background-color: #969496;

    code {
      text-transform: uppercase;
      background-color: #24A9D1;
      color: #FFF;
      margin-right: 15px;
    }

    em {
      color: #E4E4E4;
      font-size: 13px;
      font-weight: 300;
      letter-spacing: 1px;
    }
  }

  // denotes API return contents
  h6 {
    padding: 5px;
    background-color: #DFE0E5;
    color: #716C74;
    font-weight: 300;
    margin-bottom: 25px;
  }

  strong {
    font-weight: 500;
  }

  a {
    color: #24A9D1;
  }

  section {
    font-weight: 300;
    margin: 35px 0;
  }

  p {
    font-size: 14px;
    color: #716C74;
    font-weight: 300;
  }

  blockquote {
    background-color: #DFE0E5;
    border-radius: 5px;
  }

  code {
    padding: 2px 4px;
    font-size: 90%;
    color: #716C74;
    background-color: #D5D8DB;
    border-radius: 0;
    font-family: monospace;
  }

  pre {
    background-color: #4D4D4D;
    margin-bottom: 25px;

    code {
      color: #F2E8E8;
      background-color: transparent;
    }
  }

  ul {
    margin-bottom: 25px;

    li {
      color: #716C74;
      font-weight: 300;
      font-size: 14px;
    }
  }
}
